[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/emnh/taglist.vim
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-rsi"]
	path = bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/taglist"]
	ignore = dirty
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
